from fastapi import Body
from fastapi import Depends
from fastapi import status

from src.application.usecases.{{ collection }}.list import Usecase
from src.entrypoints.http.public.deps.{{ collection }}.list import dependency
from src.entrypoints.http.public.schemas import Search{{ entity }}
from src.entrypoints.http.public.schemas import {{ entity }}
from src.framework.routing import APIRouter


router = APIRouter()


@router.post(
    "/{{ collection }}:list",
    status_code=status.HTTP_200_OK,
    response_model=list[{{ entity }}],
    description="List {{ singular }}",
)
async def query(
    body: Search{{ entity }} = Body(...),
    usecase: Usecase = Depends(dependency),
) -> list[{{ entity }}]:
    return [{{ entity }}.serialize(model) for model in await usecase(**body.deserialize())]
