import typing

from src.domain.models import {{ entity }}


def serialize(model: object) -> {{ entity }}:
    return {{ entity }}.model_validate(model, from_attributes=True)


def decrypt(decrypter: typing.Callable[..., typing.Any], model: {{ entity }}) -> {{ entity }}:
    fields = {key: getattr(model, key) for key in {{ entity }}.__encrypted__}

    for key, value in {{ entity }}.decrypt(decrypter=decrypter, **fields).items():
        setattr(model, key, value)

    return model
