JWT=true
JWT_ALGORITHM="HS256"
JWT_SECRET_KEY="SECRET"
JWT_ACCESS_EXPIRED_SECONDS=43200
JWT_REFRESH_EXPIRED_SECONDS=2592000
SENTRY=false
SENTRY_DSN=null
LOGGING=true
LOGGING_SERIALIZE=false
POSTGRES=true
POSTGRES_HOST="postgresql+asyncpg://postgres:postgres@localhost:5432/database"
REDIS=true
REDIS_HOST="redis://localhost:6379"
TELEGRAM=false
TELEGRAM_ACCOUNT_ID=
TELEGRAM_ACCOUNT_API_ID=
TELEGRAM_ACCOUNT_API_HASH=
TELEGRAM_BOT_ID=
TELEGRAM_BOT_TOKEN=
SCHEDULER=true
CRYPTOGRAPHY=true
CRYPTOGRAPHY_SECRET_KEY="SECRET"
AUTHENTICATION=true
AUTHENTICATION_HTTP_BASIC_USERNAME="admin"
AUTHENTICATION_HTTP_BASIC_PASSWORD="admin"
DOMAIN="http://localhost"