from httpx import AsyncClient
from httpx import Response

from tests.factories.infrastructure.databases.postgres.tables import {{ entity }} as {{ entity }}Factory


class TestGet{{ entity }}:
    client: AsyncClient
    identifier: int

    async def setup(self) -> None:
        model = await {{ entity }}Factory.init(model={})
        self.identifier = model.id

    async def process(self) -> Response:
        return await self.client.get(f"/api/{{ collection }}/{self.identifier}")

    async def check(self, response: Response) -> None:
        assert response.status_code == 200

    async def test(self, client: AsyncClient) -> None:
        self.client = client

        await self.setup()

        response = await self.process()

        await self.check(response)
