from httpx import AsyncClient
from httpx import Response


class TestList{{ plural }}:
    client: AsyncClient
    payload: dict[str, object]

    async def setup(self) -> None:
        self.payload = {
            "filters": {},
            "sorting": {"field": "created", "direction": "asc"},
            "pagination": {"page": 1, "size": 10},
        }

    async def process(self) -> Response:
        return await self.client.post("/api/{{ collection }}:list", json=self.payload)

    async def check(self, response: Response) -> None:
        assert response.status_code == 200

    async def test(self, client: AsyncClient) -> None:
        self.client = client

        await self.setup()

        response = await self.process()

        await self.check(response)
