import typing

from src.infrastructure.databases.orm.sqlalchemy.crud import Base
from src.infrastructure.databases.orm.sqlalchemy.session import Session
from src.infrastructure.databases.postgres import tables


class {{ entity }}(Base[tables.{{ entity }}]):
    table = tables.{{ entity }}

    @classmethod
    async def list(
        cls,
        session: Session,
        filters: dict[str, typing.Any],
        sorting: dict[str, typing.Any],
        pagination: dict[str, typing.Any],
    ) -> list[tables.{{ entity }}]:
        raise NotImplementedError

    @classmethod
    async def paginated(
        cls,
        session: Session,
        filters: dict[str, typing.Any],
        sorting: dict[str, typing.Any],
        pagination: dict[str, typing.Any],
    ) -> tuple[list[tables.{{ entity }}], int]:
        raise NotImplementedError
