class {{ entity }}(Public, Response, Query):
    id: int
    created: datetime.datetime
    updated: datetime.datetime

    @classmethod
    def serialize(cls, model: Model) -> typing.Self:
        return cls(
            id=field.required(model.id),
            created=model.created,
            updated=model.updated,
        )
