from fastapi import Body
from fastapi import Depends
from fastapi import status

from src.application.usecases.{{ collection }}.paginated import Usecase
from src.entrypoints.http.public.deps.{{ collection }}.paginated import dependency
from src.entrypoints.http.public.schemas import Search{{ entity }}
from src.entrypoints.http.public.schemas import {{ plural }}
from src.framework.routing import APIRouter


router = APIRouter()


@router.post(
    "/{{ collection }}:search",
    status_code=status.HTTP_200_OK,
    response_model={{ plural }},
    description="Search {{ singular }}",
)
async def query(
    body: Search{{ entity }} = Body(...),
    usecase: Usecase = Depends(dependency),
) -> {{ plural }}:
    rows, total = await usecase(**body.deserialize())
    return {{ plural }}.serialize(rows, total)
