import typing

from src.common.formats.utils import date
from src.domain.models import {{ entity }} as Model


class {{ entity }}:
    @classmethod
    def init(cls, model: dict[str, typing.Any] | None = None) -> Model:
        created = updated = date.now()
        payload: dict[str, typing.Any] = {
            "id": 1,
            "created": created,
            "updated": updated,
        }

        if model:
            payload.update(model)

        return Model.model_validate(payload)
