from fastapi import Body
from fastapi import Depends
from fastapi import status

from src.application.usecases.{{ collection }}.update import Usecase
from src.entrypoints.http.public.deps.{{ collection }}.update import dependency
from src.entrypoints.http.public.schemas import Update{{ entity }}
from src.framework.routing import APIRouter


router = APIRouter()


@router.put(
    "/{{ collection }}:update",
    status_code=status.HTTP_204_NO_CONTENT,
    response_model=None,
    description="Update {{ singular }}",
)
async def command(
    body: Update{{ entity }} = Body(...),
    usecase: Usecase = Depends(dependency),
) -> None:
    await usecase(**body.deserialize())
