from fastapi import Body
from fastapi import Depends
from fastapi import status

from src.application.usecases.{{ collection }}.delete import Usecase
from src.entrypoints.http.public.deps.{{ collection }}.delete import dependency
from src.entrypoints.http.public.schemas import Delete{{ entity }}
from src.framework.routing import APIRouter


router = APIRouter()


@router.delete(
    "/{{ collection }}:delete",
    status_code=status.HTTP_204_NO_CONTENT,
    response_model=None,
    description="Delete {{ singular }}",
)
async def command(
    body: Delete{{ entity }} = Body(...),
    usecase: Usecase = Depends(dependency),
) -> None:
    await usecase(**body.deserialize())
