import types

from src.decorators.usecases.session import sessionmaker
from src.domain.models import {{ entity }}
from src.infrastructure.databases.orm.sqlalchemy.queries import Filter
from src.infrastructure.databases.orm.sqlalchemy.session import Session
from src.infrastructure.databases.postgres.adapters import repositories


class Usecase:
    container: types.SimpleNamespace

    def build(self, session: Session) -> None:
        self.container = types.SimpleNamespace(
            repository=types.SimpleNamespace(
                {{ singular }}=repositories.{{ entity }}(session),
            ),
        )

    @sessionmaker.read
    async def __call__(self, session: Session, identifier: int) -> {{ entity }}:
        self.build(session)

        {{ singular }} = await self.container.repository.{{ singular }}.one(Filter.eq(key="id", value=identifier))

        return {{ singular }}
