from httpx import AsyncClient
from httpx import Response


class TestExists{{ entity }}:
    client: AsyncClient
    payload: dict[str, object]

    async def setup(self) -> None:
        self.payload = {
            "id": 1,
        }

    async def process(self) -> Response:
        return await self.client.post("/api/{{ collection }}:exists", json=self.payload)

    async def check(self, response: Response) -> None:
        assert response.status_code == 200

    async def test(self, client: AsyncClient) -> None:
        self.client = client

        await self.setup()

        response = await self.process()

        await self.check(response)
